* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}
.navbar {
    margin-bottom: 0;
}

#collapsable-nav .our-menu li {
    border-bottom: 1px solid #000000;
}
#collapsable-nav .our-menu li a{
    color: #000000;
}

/*#header-nav {*/
    /*border: 0;*/
    /*border-radius: 0;*/
    /*background-color: grey;*/
/*}*/


.navbar-default .navbar-brand {
    font-family: "Arial", serif;
    color: #000000;
    font-weight: bold;
    margin-left: 10px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-default .navbar-toggle.collapsed {
    position: relative;
    background-color: transparent;
    border-color: #000000;
}
.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
    background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-nav {
    margin: 0 -15px;
}

.container-menu {
    margin-top: 20px;
}
.container h2 {
    color: #000000;
    margin-bottom: 30px;
}
.menu-text-head {
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
p {
    color: #000000;
}
.container-nav {
    background-color: grey;
    border-bottom: solid 2px #000000;
}

.section {
    height: 1000px;
    background-color: grey;
    margin: 20px;
    padding: 5px 20px

}